# TUPLES QUESTION
QUE :- 1. Write a program to create a tuple and print its element?

In [1]:
tuples =("Python", "Spark",
         "Pandas", "Java")

index = 0

while index< len (tuples):
  print(tuples[index])
  index =index + 1

Python
Spark
Pandas
Java

QUE :- 2. Find the length of a tuple?

In [9]:
t = (1,2,3,4,5,67)
l =0
for i in t:
  l += 1

print("Length :,1")

Length :,1

QUE :- 3. Convert a tuple to a list and vice versa?

In [10]:
l = [1,2,3,4,5,6,8]
print(l)
t = tuple(l)
print(t)

[1, 2, 3, 4, 5, 6, 8]
(1, 2, 3, 4, 5, 6, 8)

QUE :- 4. Write a program to find the maximum and minimum elements in a tuple?

In [13]:
t1 = (1,2,3,4,5,6,8)
print("Max number:", max(t))

t2 =(6,9,7,3,2)
print("Min number:", min(t))

Max number: 8
Min number: 1

QUE :- 5. Create a tuple of number and calculate their sum?

In [14]:
tuples = (2,3,5,7,8,9)
sum = 0
for num in tuples:
  sum += num
print(sum)

34

QUE :- 6. Write a program to slice a tuple?

In [15]:
a = (1,2,3,4,5,6,7,8,9)
print("Tuple")

b = len(a)
for i in range (b):
  print(i, "=", a[i])
print()

print("lst to 5th position ")
x= a[1:6]
for i in x:
  print(i)
print()

print("2th to last position")
y= a[2:]
for i in y:
  print(i)
print()

Tuple
0 = 1
1 = 2
2 = 3
3 = 4
4 = 5
5 = 6
6 = 7
7 = 8
8 = 9

lst to 5th position
2
3
4
5
6

2th to last position
3
4
5
6
7
8
9

QUE :- 7. Merge two tuples into one?

In [16]:
l1 =[1,2,3]
s1 = {"python", "java", "c++"}
t1 =(10,20,30)
l2 ={*l1, *s1, *t1}
print(l2)

{1, 2, 3, 10, 20, 'c++', 'python', 30, 'java'}

QUE :- 8. Check if an element exists in a tuple?

In [17]:
tuple = ("t",3 , "s", "o")
print("s" in tuple)
print(5 in tuple)

True
False

QUE :- 9. Create a tuple and find its index of a specific elements?

In [18]:
t = (1,2,3,4,7,9,8,4,5,6,3,2,1)

print(t. index(1))
print(t. index(2))
print(t. index(3))
print(t. index(4))

0
1
2
3

QUE :- 10. Write a program to count the occurrences of anelements in a tuple?

In [35]:
import collections
test_type = [[('hii', 'ok')] , [('bye', 'seems')], [('hii', 'ok')]]

res = collections.defaultdict(int)
for ele in test_type:
  res [ele[0]] += 1
print(res)

defaultdict(<class 'int'>, {('hii', 'ok'): 2, ('bye', 'seems'): 1})